<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>
<body>
     <div class="container-fluid">
         <div class="panel panel-default">
              <div class="panel-heading" >About Us</div>
              <div class="panel-body">
                  <div class="row">
                      <div class=" col-md-4 imagealign"><img class="img-responsive" src="../assets/School_Decor_PNG_Picture.png" style="margin:auto;width:100%;"></div>
                      <div class="col-md-8"> 
                        <p>
                        The school's mission is to provide quality education ensuring, overall development of the child.The performance of the school in the last few years has been outstanding in all areas. Ours is the Vision driven school, focusing on the development of complete personality of each child, through imbibing values, capacity building, use of technology and providing an excellent learning environment.<br><br>
                        With the dedicated and untiring efforts of the teachers, the children are encouraged and motivated to do their best both in curricular and the extracurricular activities. By establishing a good rapport with parents and working on the feedback provided, the interests of the students are well taken care of. We at O.P.G Memorial Public School would like to put in lot more efforts to expand the activities and ensure quality education to the children. We strongly believe that academic pursuits, sportsmanship, creative and aesthetic ideas go hand in hand with developing personal values and ability to make a difference in the society we live in.<br><br>
                        Apart from providing quality education, the school believes in value system, the value that elders instill in youngsters as practiced in the ancient time in gurukula system.
                        </p>
                      </div>
                  </div>
              </div>
         </div>
     </div>
</body>
</html>