<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="panel panel-default">
        <div class="panel-heading" >Admissions</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12"><p>The school admits students from Pre-Nur to IX standard.
                  Date of birth certificate is required at the time of admission.Every new admission shall have to bring original date of birth proof 
                (Janam Praman Patra) and Aadhar card.Admission is given to all boys and girls irrespective of social status,caste,class,creed or
                community.Admission is granted on the basis of merit & availability of seats.If a student has attented some other school then his/her transfer
                certificate is required to be submitted alongwith the admission form.A notice in local newspapers is generally issued during February-
                March about admissions to the various classes.</p>
                </div>
            </div>
        </div>
        </div>
    </div> 
</body>