<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>
<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" >Audio Video and EDU STAT Classes</div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-4 imagealign"><img class="img-responsive" src="../assets/1-c2.jpg" style="margin:auto;width:100%;"></div>
                    <div class="col-md-8"><h3><span class="label label-success">Audio Video Classes</span></h3>
                          The school is providing some of the best A.V. facilities to its students.Periods are arranged for the classes in their Time-Table
                          The educational documentaries and films are shown to the students as per the requirement of their classes. In junior Block allthe classes
                          have audio facility and LCDs.
                          <h3><span class="label label-success">EDU STAT Classes</span></h3>
                          We have started Edu Stat classes which are compulsary for classes Pre-Nur to 10th with a hope that the students shall have a flare up for use of internet
                          and computers. This will make teaching a very responsive activity.<br>
                          We have structured a new computer lab for the students so that they are on keys regularly and persistently. To meet the present challenges
                          of technology we have brace up with the latest techniques.
                    </div>
                </div>
            </div>
         </div>
     </div>
</body>
