<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>
<body
    <div class="container-fluid">
        <div class="panel panel-default">
        <div class="panel-heading">Core Values</div>
            <div class="panel-body"><div class="row">
                <div class="col-md-4 imagealign"><img class="img-responsive" src="../assets/Culture-and-Core-Values-20150820040853-20160111122624.jpg" style="margin:auto;width:100%;"> </div>
                <div class="col-md-8"><br><p>
                Students and parents are the primary beneficiaries of our services.<br><br>
                
                Our activities and programmes must revolve around the children and contribute to their growth and learning.<br><br>
                
                To train and encourage Teachers to develop competence and commitment.<br><br>
                
                Constant upgradation of school environment characterized by love and compassion.<br><br>
                
                Children should never be deprived of opportunities, facilities and experiences that have greater bearing on their lives.<br><br>
                
                To uphold the rule of law and our duties towards nation building.<br><br>
                
                No discrimination will be made in the name of caste, creed, race, status or gender.<br><br>
                
                Respect for the planet and inculcation of environmental values.</p></div>
                </div>
            </div>
        </div>
    </div>
</body>