<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:#385b9f;">School Photo Gallery</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-20160422_135641.jpg">
                    <img class="img-responsive" src="../assets/tn/p1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG-20160407-WA0051.jpg">
                    <img class="img-responsive" src="../assets/tn/p5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_20160812_103823.jpg">
                    <img class="img-responsive" src="../assets/tn/p7.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_20160723_100912.jpg">
                    <img class="img-responsive" src="../assets/tn/p8.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-P_20160416_105622.jpg">
                    <img class="img-responsive" src="../assets/tn/p4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_20160708_131627.jpg">
                    <img class="img-responsive" src="../assets/tn/1-1-IMG_20160708_131627.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/Press Pic.jpg">
                    <img class="img-responsive" src="../assets/tn/p2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_20160812_110037.jpg">
                    <img class="img-responsive" src="../assets/tn/p6.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-Press release 1.jpg">
                    <img class="img-responsive" src="../assets/tn/p3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_20160708_131235.jpg">
                    <img class="img-responsive" src="../assets/tn/p10.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-IMG_3262.jpg">
                    <img class="img-responsive" src="../assets/tn/p11.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="../assets/1-Danik Savera Press news.jpg">
                    <img class="img-responsive" src="../assets/tn/p12.jpg" alt="">
                </a>
            </div>
        </div>
        <hr>       
    </div>  
</body>
