<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  
  <link rel="stylesheet" href="main2.css" type="text/css"/>
</head>

<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Guidelines for Parents/Guardian</div>
            <div class="panel-body">
                <div class="row">
	            <div class="col-md-5 imagealign">
	                <img class="img-responsive" src="../assets/guideicon.png" style="margin:auto;width:auto;"> 
	            </div>
                <div class="col-md-7">  
                   For the effective functioning of the school we,the staff and the parents
                   take a proper care of the various aspects of the children viz discipline,emotional integrity and 
                   academic proficiency.Our main goals are to see a beautiful school with a wonderful performance,
                   infrastructure and reputation.To attain all this,the following guidelines are issued for the parents/guardians.<br><br><br>
                   <ul class="list-group" >
                       <li class="list-group-item">1. Every parent should be quite conversant with the school calender.</li>
                       <li class="list-group-item">2. It is the duty of every parent to see to it that his/her child goes to school in proper kit with relevant books and notebooks.</li>
                       <li class="list-group-item">3. The parent is desired to check up the diary daily to see that the child responds to school assignments.</li>
                       <li class="list-group-item">4. Every parent is required to return the progress card/duly signed within the three days of the issue of the progress card.</li>
                       <li class="list-group-item">5. Parents should avoid giving cell phones to their children; use of cell phones by students is not allowed.</li>
                       <li class="list-group-item">6. No request for re-examination,fee concession or double promotion shall be accomodated.</li>
                       <li class="list-group-item">7. Buses opted once for a child should hold good for the whole year.No mid-session withdrawal.</li>
                       <li class="list-group-item">8. Parents are needed to pay their lad's fee by the 10th of every month to avoid the late fees.</li>
                   </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>