<div class="row">
    <div class="picbar" style="display:block;float:right;">            
        <div class="col-md-3" style="text-align:center;">
            <a  href="about.html"><img class="img-circle" src="../assets/1-Press release 1.jpg" height="170" width="170px"><p>Our School</p></img></a><br><p>Inculcating Culture of Active Learning in the School.</p>
        </div>            
        <div class="col-md-3">
            <a  href="studentlife.html"><img class="img-circle" src="../assets/1-IMG_20160708_131235.jpg" height="170px" width="170px"><div>Student Life</div></img></a><br><p>Committed to educating and nurturing of all students so they may grow towards responsible global citizenship.</p>
        </div>
        <div class="col-md-3">
            <a  href="overview.html"><img class="img-circle" src="../assets/1-P_20160416_105622.jpg" height="170px" width="170px"><div>Academics</div></img></a><br><p>Together we create a loving community of purposeful learning that focuses on the whole child;body,mind and spirit.</p>
        </div>    
        <div class="col-md-3">
            <a  href="sports.html"><img class="img-circle"  src="../assets/1-20160422_135641.jpg" height="170px" width="170px"><div>Non Academic</div></img></a><br><p>We encourage overall development of children through various extra curricular activities which facilitates creativity amongst them.</p>
        </div>
    </div>
</div>
<div class="row" style="background-color:#fff">
    <div class="content2">
        <div class="col-md-3">
            <img src="../assets/IMG-20160723-WA0048.jpg" alt="img" style="margin:auto;padding:10px 0px 10px 0px;"></img>
        </div>
        <div class="col-md-9">
            <h3 style="color:#385b9f;font-family:franklin-gothic;">
                                Principal's Message
            </h3>
            <p style="font-family:franklin-gothic;font-size:16px;">
                                “If a child can’t learn the way we teach, maybe we should teach the way they learn.” -Ignacio Estrada Every child is a born genius, brimming with hidden talents waiting to be discovered. It is a teacher’s responsibility, to find these seeds of potential and help them blossom into flowers. As Albert Einstein stated, “But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid”. We need to recognize that our children are growing...
                <a href="/message"><button type="button" class="btn btn-primary">Read more</button></a>
            </p>
        </div>                        
     </div>
</div>
<div class="row" style="background-color:#fff">
    <div class="content">
        <div class="col-md-4">
            <h3>
                <span class="glyphicon glyphicon-eye-open" style="color:#ed6639;padding-right:10px;"></span> Our Vision
            </h3>
            <p>
                To establish OPG Memorial Public School as a world class centre of learning, a leader 
                in imparting joyful, relevant, and value based education to each child and to ensure 
                complete fulfillment of the aspirations of all stakeholders.<br><a href="/vision">More..</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>
                <span class="glyphicon glyphicon-book" style="color:#ed6639;padding-right:10px;"></span> Core Values
            </h3>
            <p>
                >> Students and parents are the primary beneficiaries of our services.
                <br><br>
                >> Our activities and programmes must revolve around the children and contribute to their growth and learning.
                <br><a href="/corevalues">More..</a>
                
            </p>
        </div>
        <div class="col-md-4">
            <h3>
                <span class="glyphicon glyphicon-road" style="color:#ed6639;padding-right:10px;"></span> Target
            </h3>
            <p>
                We are overwhelmed to admit your child/ward to the educational portals of 
                OPG Memorial Public School. The scholastic and formatic activities of the school 
                are quite divergent and varying. The thrust is on the real mansion of modesty,sincerity,
                diligence and elegance. <br><a href="/target">More..</a>
            </p>
        </div>
    </div>
</div>