<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
    <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading" >House System</div>
                <div class="panel-body"><div class="row">
                    <div class=" col-md-4 imagealign"><img class="img-responsive" src="../assets/1-h2.jpg" style="margin:auto;width:100%;"></div>
                <div class="col-md-8">There are four houses in the school :-
                    <h4><span class="label label-info">Subhash, Nehru, Tagore, Gandhi</span></h4>
                      Every student,on admission,is placed in one of these houses.
                      Each house is headed by a student designated as House Captain.A member of staff acts as House Master/Mistress and is assisted by other House Assistants.
                      <br>Inter House activities and competitions are organised from I to X and all the winners are given certificates and prizes.
                </div>   
                </div>
                </div>
             </div>
          </div>
</body>