<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body>
    <div class= "container-fluid" >
        <div class="panel panel-default">
            <div class="panel-heading">List Of Holidays</div>
            <div class="panel-body"> 
                <div class="text-center">  
                    <a href="list.html" class="btn btn-primary" role="button">By Year</a>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Vacations</button>
                    <div id="demo" class="collapse"> 
                       <p style="font-family:calibri">Summer Vacations: May 29 to July 2<br>
                          Diwali Holidays:October 29 to November 01<br>
                    	  Winter Vacations:December 31 to January 15
                       </p>
                    </div>
                </div>
                <div class="table-responsive">
                   <table class="table table-hover">
                        <thead>
                        	 <tr>
                            	  <th>Occasion </th>
                            	  <th> Date </th>
                        	 </tr>
                    	</thead>
                    	<tbody>
                        	 <tr>
                            	  <td>Ambedkar Jayanti </td>
                            	  <td>April 14 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Eid U'l Fitr(g) </td>
                            	  <td>July 07 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Independence Day </td>
                            	  <td>August 15 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Raksha Bandhan </td>
                            	  <td> August 18 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Janamashtmi </td>
                            	  <td>August 25 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Gandhi Jayanti </td>
                            	  <td>October 2 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Dussehra </td>
                            	  <td>October 11</td>
                        	 </tr>
                        	 <tr>
                            	  <td>Balmiki Jayanti  </td>
                            	  <td>October 15 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Guru Nanak Jayanti </td>
                            	  <td>November 14 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Christmas </td>
                            	  <td>December 25 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Republic Day </td>
                            	  <td>January 26 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Basant Panchmi </td>
                            	  <td>February 01</td>
                        	 </tr>
                        	 <tr>
                            	  <td>Maha Shivratri </td>
                            	  <td>February 24 </td>
                        	 </tr>
                        	 <tr>
                            	  <td>Holi </td>
                            	  <td>March 13 </td>
                        	 </tr>
                    	</tbody>
                	</table>
	           </div>
            </div>
        </div>
    </div>
</body>