<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>
<body>
    <div class="container-fluid">
        <div class="panel panel-default">
        <div class="panel-heading" >Principal's Message</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-2"><img src="../assets/IMG-20160723-WA0048.jpg" alt="img" height="auto" width="auto" style="margin:auto;float:center;"></img></div>
                <div class="col-md-10"><br><p>Every child is a born genius, brimming with hidden talents waiting to be discovered. It is a teacher’s responsibility, to find these seeds of potential and help them blossom into flowers. As Albert Einstein stated, “But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid”. We need to recognise that our children are growing up in a world, in a time, which is very different from our own childhood. Hence, we cannot guide them while being clouded by our own biases and preconceived notions.
                As they embark on journeys unto the unknown, we should fill their young hearts with courage and conviction. In Harry Edwards’ words, “We must teach our children to dream with their eyes open”. Once they begin to dream, we must equip them with the skills and abilities to realize them. At Modern School, we are dedicated to providing our students an environment conducive to learning, imagining and achieving.
                Academic excellence, holistic development, and responsible citizenship are resolute pillars of this institution. They are unwavering standards which we expect our students to meet. The Modern School has a rich heritage of brilliance and our students are a living manifestation of this legacy. Our students are like young hatchlings about to take their first flight. Through the synergised efforts of teachers and parents, we should ensure that they soar to great heights and create a world full of peace, harmony, self-knowledge and God-realisation.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>