<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" >Removal of a Student</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12"><p style="font-size:16px;font-weight:500;">The school authorities can terminate a student's admission because of any of the following reasons:-</p>
                    <br>
                        <div>
                          <ul class="list-group">
                               <li class="list-group-item">1. Non-payment of fees or chronic irregularity in payment.</li>
                               <li class="list-group-item">2. Misbehaviour with school staff.</li>
                               <li class="list-group-item">3. Moral breach considered serious by school discipline commite.</li>
                               <li class="list-group-item">4. Willful absence from the school and lack of interest in the studies.</li>
                               <li class="list-group-item">5. Parent's/Guardian's misbehaviour with the school staff. </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>