<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>

<body><div class="container-fluid">
 <div class="panel panel-default">
  <div class="panel-heading">Rules and Regulations for Students</div>
  <div class="panel-body"><div class="row">
<div class="col-md-4 imagealign"><img class="img-responsive" src="../assets/r2.jpg" style="margin:auto;width:auto;"> </div>
  <div class="col-md-8">
  
   For the effective functioning of the school we,the staff and the parents
   take a proper care of the various aspects of the children viz discipline,emotional integrity and 
   academic proficiency.Our main goals are to see a beautiful school with a wonderful performance,
   infrastructure and reputation.To attain all this,the following regulations are issued for the students.<br><br><br>
   <ul class="list-group" >
   <li class="list-group-item">1. No student should be in the possession of mobile phones during the scchool hours.In case of any necessity,please deposit it with the class teacher.Otherwise the phone will be seized.</li>
   <li class="list-group-item">2. Every student should follow the proper dress code.Defaulters would be fined.</li>
   <li class="list-group-item">3. The school gates will be closed five minutes prior to entry time.</li>
   <li class="list-group-item">4. Mid day leaves are allowed only in case of emergency on the request of the parents.</li>
   <li class="list-group-item">5. Regularity in school tasks,projects,practicles is essential for every student.</li>
   <li class="list-group-item">6. Students are supposed to bring their school diaries everyday to school.</li>
   <li class="list-group-item">7. Only books required under curriculum need to be brought to the school.Any other irrelevant magazine or journel should not be brought to the school.</li>
   <li class="list-group-item">8. Graceful postures and nice talking habits are required from the school students.</li>
   <li class="list-group-item">9. Keep your school neat and clean.Make fair use of the dustbins.</li>
   </ul>
   </div>
    
  </div>
  </div>
  </div>
 </div>
</body>