<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:left;">Life at OPG Memorial</div>
            <div class="panel-body">
                <div class="row"> 
                  <div class="col-md-12"><p>Life at OPG Memorial Public School is about giving your child the best you have wanted as a parent. From a strong academic foundation to the development of your child’s physical, spiritual and emotional personality. Our academic excellence is an open testimonial one can refer to. We understand that after home, the single biggest influence is the institution that you choose for your child’s learning, making it all the more crucial for you to take this decision with great care.<br><br>
                As you navigate the pages within, we trust you will find it to be informative and valuable, regardless of whether you are a first-time visitor or a long-standing parent. More than anything, we hope our website conveys to you what matters most at OPG Memorial Public School.<br><br>
                A school is an eco-system where different factors have an effect on the child. Teachers, curriculum, assessments, environment, infrastructure, activities all come together to nurture the unique potential of the child.</p></div>
                </div>
            </div>
        </div>
    </div>
</body>