<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>

<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Our Target</div>
            <div class="panel-body">
                <div class="row">
                <div class="col-md-4 imagealign"><img class="img-responsive" src="../assets/target.jpg" style="margin:auto;width:100%;"> </div>
                <div class="col-md-8"><br><p>
                  &nbsp&nbspWe are overwhelmed to admit your child/ward to the educational portals of OPG Memorial Public School. The scholastic and formatic activities of the school are quite divergent and varying. The thrust is on the real mansion of modesty,sincerity,diligence and elegance. Our hope to cope up quite vibrantly with what our children are lacking is quite manifested in our efforts.
                  We have a strong ambition to move forward with real zeal and zest. Our hard work and endurance ,makes us to stimulate children and make them to reach such heights where from they can soar higher and higher. It is our sincere thinking to beef up our efforts to achieve such targets.
                  This needs bit of goading, pull ups and proper pats. This is where the teachers come open to operate. We have seen much of the world, we have weighed the results and finally these are assessed. We make the desirable corrections to see that the students move in the right course of direction. We need to go astray.
                  <br><br>
                  &nbsp&nbspModern education is a dynamic process. It is not now bipolar,or tripolar but a multicolor process. There are a lot of interactions and counter action and lot of conflicts and divergent views. But the central focus of viewing every problem is to be seen through the eyes of a child, if this is done rightfully we have no problems. The result
                  will be quite authentic and acceptable.<br><br>
                  &nbsp&nbspAs parents as well as teachers we shall not shy away from our responsibilities but only hope to see that parents are activised and they get a light of the day of their responsibilities to their children.
                  <br><br>
                  &nbsp&nbspOn our part we are ready to accept the challenges of the time and see to it that our children move forward academically, physically, emotionally and scientifically. Our efforts shall be to achieve realistic goals of life and 
                  we shan't fret away from our mission. Let the children grow smart and smarter to serve their homes, state and country and see to it that their profiles are exalted and elevated.  
                </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>