<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
         <div class="panel panel-default">
          <div class="panel-heading" >School Timings</div>
              <div class="panel-body">
                  <div class="row">
                      <div class=" col-md-4 imagealign"><img class="img-responsive" src="../assets/timing.jpg" style="margin:auto;width:auto;">
                      </div>
                      <div class="col-md-8 ">
                          <div>
                           <h3><span class="label label-info" >Summers</span></h3>
                              <table class="table table-hover">
                                    <thead>
                                      <tr>
                                            <th>Class</th>
                                            <th>School Timing</th>
                                            <th>Parent's Timing</th>
                                      </tr>
                                    </thead>
                                <tbody>
                                      <tr>
                                            <td>P.N to K.G</td>
                                            <td>7:50 AM - 12:00 Noon</td>
                                            <td>12:15 PM - 1:30 PM</td>
                                      </tr>
                                      <tr>
                                            <td>1st Onwards</td>
                                            <td>7:50 AM - 1:55 PM</td>
                                            <td>1:15 PM - 1:45 PM</td>
                                      </tr>
                                </tbody>
                              </table>
                          <h3><span class="label label-default" >Winters</span></h3>
                          <table class="table table-hover">
                                <thead>
                                      <tr>
                                            <th>Class</th>
                                            <th>School Timing</th>
                                            <th>Parent's Timing</th>
                                      </tr>
                                </thead>
                                <tbody>
                                      <tr>
                                            <td>P.N to K.G</td>
                                            <td>8:50 AM - 1:00 PM</td>
                                            <td>12:30 PM - 1:30 PM</td>
                                      </tr>
                                      <tr>
                                            <td>1st Onwards</td>
                                            <td>8:50 AM - 2:40 PM</td>
                                            <td>1:15 PM - 1:45 PM</td>
                                      </tr>
                                </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
       <div class="container-fluid" style="padding-right:15%;" >
        <h3><span class="label label-success" >Note:</span></h3>
        <marquee behavior="scroll" direction="left" scrollamount="4" onmouseover="this.stop();" 
    						 onmouseout="this.start();">
                                 <ul style="font-family:franklin gothic">
                                 <h4> <li> If there are any changes in timings due to any reason it will be communicated in advance.</li></h4>
                                 <h4> <li> Parents are not allowed to meet teachers during working hours.</li></h4>
    							 </ul>
    	   					  </marquee>
      </div>
      </div>
 </body>