<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  <link rel="stylesheet" href="main2.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">School Transport</div>
            <div class="panel-body">
                <div class="row">
                     <div class="col-md-4 imagealign"><img class="img-responsive" src="../assets/p.jpg" style="margin:auto;width:100%;"> </div>
                      <div class="col-md-8"><br><p>For ferrying children from home to school(to&fro),the school has engaged seven vehicles for the same.A student who opts for the school transport in April has to remain with it for the whole session, no mid-session withdrawal.No opts in between the session.If a student withdraws bus facility 
                      mid way of the session ,he or she is to bear the whole Bus charges for the whole session.No remedy there.Each Bus rider will use an Identity card.No sort of any damage to the vehicle or its contents.
                      Please do not talk directly to the bus drivers or conductors for any inconvenience,you may contact the school authority.</p></div>
                       
                </div>
            </div>
        </div>
    </div>
</body>