<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
     <div class="panel panel-default">
      <div class="panel-heading" >School Uniform</div>
      <div class="panel-body">
      <div class="row">
      
      <div class="col-md-10 ">
      <div>
       <h3><span class="label label-info" >In Summers</span></h3>
      <table class="table table-hover">
        <thead>
          <tr style="font-size:26px;">
            <th></th>
            <th style="font-weight:normal;">GIRLS</th>
            <th style="font-weight:normal;">BOYS</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-weight:bold;font-size:16px;">
            <td></td>
            <td>1st to 5th</td>
            <td>6th to 12th</td>
          </tr>
          <tr>
            <td>Shirts</td>
            <td>Phone Colour</td>
            <td>Check Shirt</td>
          </tr>
          <tr>
            <td>Short/Trouser</td>
            <td>Phone</td>
            <td>Phone</td>
          </tr>
          <tr>
            <td>Skirt</td>
            <td>Check Skirt</td>
            <td></td>
          </tr>
          <tr>
            <td>Socks</td>
            <td>Phone with green strips</td>
            <td></td>
          </tr>
          <tr>
            <td>Tie</td>
            <td>Green with Strips</td>
            <td>Green with Strips</td>
          </tr>
        </tbody>
      </table>
       <h3><span class="label label-default" >In Winters</span></h3>
       <h4>*To be announced later</h4>
      </div>
      </div>
      </div>
      </div>
      </div>
       <div class="container-fluid" style="padding-right:15%;" >
        <h3><span class="label label-success" >Note:</span></h3>
        <marquee behavior="scroll" direction="left" scrollamount="8" onmouseover="this.stop();" 
    						 onmouseout="this.start();">
                                 <ul style="font-family:franklin gothic">
                                 <h4> <li>EVERY WEDNESDAY AND SATURDAY HOUSE DRESS.</li></h4>
                                 
    							 </ul>
    	   					  </marquee>
      </div>
      </div>
 </body>