<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>  </head>
<body>
    <div class="container-fluid">
         <div class="panel panel-default">
              <div class="panel-heading">Our Vision</div>
              <div class="panel-body"><div class="row">
                 <div class="col-md-4 imagealign"><img class="img-responsive" src="../assets/vision.png" style="margin:auto;width:100%;"> </div>
                 <div class="col-md-8">
                        <p style="font-size:18px;">>>&nbsp&nbspTo establish OPG Memorial Public School as a world class centre of learning, a leader in imparting joyful, relevant, and value based education to each child and to ensure complete fulfillment of the aspirations of all stakeholders.<br><br>
                   >>&nbsp&nbspTo ensure quality in our educational services through optimizing intellectual and infrastructural resources, capacity building, practicing ethical and transparent management principles and adhering to the core value system.
                        </p>
                  </div>
                  </div>
              </div>
          </div>
    </div>
</body>