<!DOCTYPE html>
<head><link rel="stylesheet" type="text/css" href="Bootstrap.css"/>
  <link rel="stylesheet" href="main2.css" type="text/css">
</head>
<body><div class="container-fluid">
 <div class="panel panel-default">
  <div class="panel-heading" >Withdrawal of Students</div>
  <div class="panel-body"><div class="row">
  
  <div class="col-md-12"><p>A student's name can be withdrawn by giving one calender month's notice in writing.
  In absence of such a notice,one month's fees will be charged.For withdrawl after April 30,fee for two moths ie. 
  May and June will have to be deposited.</p>
</div>
</div>
</div>
</div>
</div>
</body>